# Секреты и настройки
.env

# Виртуальное окружение
.venv/
venv/
env/

# Базы данных (старая SQLite нам на GitHub не нужна)
*.sqlite3

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Статика и Медиа (папку staticfiles сервер соберет сам)
staticfiles/
# Папку media обычно НЕ заливают на GitHub, если там много тяжелых фото,
# но для первого раза, чтобы товары были с картинками, можно оставить.
# Если хочешь скрыть и её, добавь ниже:
# media/